<a href="https://colab.research.google.com/github/swethasuresh-08/PythonNotes/blob/main/Condition_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IF,ELIF,ELSE**

In [1]:
Student_details={
    'Name':['Ramesh','Suresh','Raja','Jana','Arjun','Vino','Jack','Divya'],
    'RollNo':['VI-123','VI-124','VI-125','VI-126','VI-127','VI-128','VI-129','VI-130'],
    'Sec':['A','B','C','D','E','F','G','H'],
    'Std':['VI','VI','VI','VI','VI','VI','VI','VI']
}
Student_details

{'Name': ['Ramesh',
  'Suresh',
  'Raja',
  'Jana',
  'Arjun',
  'Vino',
  'Jack',
  'Divya'],
 'RollNo': ['VI-123',
  'VI-124',
  'VI-125',
  'VI-126',
  'VI-127',
  'VI-128',
  'VI-129',
  'VI-130'],
 'Sec': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
 'Std': ['VI', 'VI', 'VI', 'VI', 'VI', 'VI', 'VI', 'VI']}

In [2]:
Student_details.update({'Age':[12,13,14,15,16,17,18,19]})

In [4]:
if 'Age' in Student_details:
  Student_details['Age'][0]=10
  print(Student_details)

{'Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun', 'Vino', 'Jack', 'Divya'], 'RollNo': ['VI-123', 'VI-124', 'VI-125', 'VI-126', 'VI-127', 'VI-128', 'VI-129', 'VI-130'], 'Sec': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'], 'Std': ['VI', 'VI', 'VI', 'VI', 'VI', 'VI', 'VI', 'VI'], 'Age': [10, 13, 14, 15, 16, 17, 18, 19]}

In [7]:
rollno=input('Enter the RollNo: ').upper()

if rollno in Student_details['RollNo']:
  pos=Student_details['RollNo'].index(rollno)
  print(pos)
else:
  print('RollNo Not Found')

Enter the RollNo: vi-986
RollNo Not Found

In [14]:
#2 Even , 3 odd and 0 ZERO
number = int(input('Enter the number: '))
if number%2==0 and number!=0:
  print('Even')
elif number%2!=0:
  print('Odd')
else:
  print('Zero')

Enter the number: 0
Zero

In [ ]:
# 90 > Doctor , 80 > Engineer, 70>Arts , 50> PolyTechnic , <50 Fail

Name = input('Enter your Name : ')
Marks=int(input('Enter your Marks : '))

if Marks >= 90 :
  NeetMark=int(input('Enter your Neet Marks : '))
  if NeetMark >= 80:
   print(f'{Name} is Eligible for Doctor')
  else:
    print(f'{Name} is not Eligible for doctor')
elif Marks >= 80 :
  print(f'{Name} is Eligible for Engineer')
elif Marks >= 70 :
  print(f'{Name} is Eligible for Arts')
elif Marks >=50 :
  print(f'{Name} is Eligible for PolyTechnic')
else:
  print(f'{Name} has Failed')

In [27]:
NumRoundFloat=round(float(input('Enter Float number for round: ')))
NumRoundInt=int(float(input('Enter Float number for int conversion : ')))
print(f'{NumRoundFloat} rounded float number')
print(f'{NumRoundInt} rounded int number')

Enter Float number for round: 9.8
Enter Float number for int conversion : 9.6
10 rounded float number
9 rounded int number

##Loops
While , for Loop

In [29]:
Names=['Kumar','Ramesh','Suresh','Raja','Jana','Jack','Arjun']

for i in Names:
  if len(i)<5 :
    print(i)

Raja
Jana
Jack

In [50]:
NewNames=[]
for Name in Names:
  for letters in Name:
    if letters in 'AEIOUaeiou':
      Name=Name.replace(letters,'*')
      print(Name,letters)
  NewNames.append(Name)
print(*NewNames)

K*mar u
K*m*r a
R*mesh a
R*m*sh e
S*resh u
S*r*sh e
R*j* a
R*j* a
J*n* a
J*n* a
J*ck a
*rjun A
*rj*n u
K*m*r R*m*sh S*r*sh R*j* J*n* J*ck *rj*n

For Loop Work Based on index and Element

In [62]:
#For Loop Based on element

for i in Names:
  print(i)
for i in Names[::-1]:
  print(i)

Kumar
Ramesh
Suresh
Raja
Jana
Jack
Arjun
Arjun
Jack
Jana
Raja
Suresh
Ramesh
Kumar

In [61]:
#For Loop Based on Index
Numbers=[10,30,0,9,8,7,6,7,0,8,0] #2,8,10
print(range(len(Numbers))) #[0,len-1]
for i in range(len(Numbers)):
  if Numbers[i]==0:
    print(i)

range(0, 11)
2
8
10

In [65]:
#To Get both index and element we use Enumarate
#ðŸ”¢ What is enumerate() in Python?
#enumerate() is a built-in Python function that adds a counter (index) to an iterable (like a list, tuple, or string), and returns it as an enumerate object.

#Itâ€™s super useful when you need both the item and its index in a loop.

fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

##Zip function is used for parallel access of two list

In [73]:
Number1=[10,30,0,9,8,7,6,7,0]
Number2=[100,300,10,90,80,70,60,70,0,80,10]

for num1,num2 in zip(Number1,Number2):
  print(num1+num2)

110
330
10
99
88
77
66
77
0

In [81]:
#Calculate the bonus
Bonus=[]
Emp={
    'Emp_Id':[1,2,3,4,5,6,7,8,9,10],
    'Emp_Name':['Ramesh','Suresh','Raja','Jana','Arjun','Vino','Jack','Divya','Jack','SWE'],
    'Emp_Salary':[10000,20000,30000,40000,50000,60000,70000,80000,90000,100000],
    'Year_of_Exp':[2,5,6,1,7,9,10,2,3,4]
}
for Emp_Salary,Year_of_Exp in zip(Emp['Emp_Salary'],Emp['Year_of_Exp']):

    Bonus.append(int(Emp_Salary*12*Year_of_Exp*0.01))
    Emp['Bonus']=Bonus
    print(Emp)

{'Emp_Id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Emp_Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun', 'Vino', 'Jack', 'Divya', 'Jack', 'SWE'], 'Emp_Salary': [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000], 'Year_of_Exp': [2, 5, 6, 1, 7, 9, 10, 2, 3, 4], 'Bonus': [2400]}
{'Emp_Id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Emp_Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun', 'Vino', 'Jack', 'Divya', 'Jack', 'SWE'], 'Emp_Salary': [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000], 'Year_of_Exp': [2, 5, 6, 1, 7, 9, 10, 2, 3, 4], 'Bonus': [2400, 12000]}
{'Emp_Id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Emp_Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun', 'Vino', 'Jack', 'Divya', 'Jack', 'SWE'], 'Emp_Salary': [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000], 'Year_of_Exp': [2, 5, 6, 1, 7, 9, 10, 2, 3, 4], 'Bonus': [2400, 12000, 21600]}
{'Emp_Id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Emp_Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun', 'Vino', 'Jack', 'Divya', 'Jack', 'SWE'], 'Emp_Salary': [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000], 'Year_of_Exp': [2, 5, 6, 1, 7, 9, 10, 2, 3, 4], 'Bonus': [2400, 12000, 21600, 4800]}
{'Emp_Id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Emp_Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun', 'Vino', 'Jack', 'Divya', 'Jack', 'SWE'], 'Emp_Salary': [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000], 'Year_of_Exp': [2, 5, 6, 1, 7, 9, 10, 2, 3, 4], 'Bonus': [2400, 12000, 21600, 4800, 42000]}
{'Emp_Id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Emp_Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun', 'Vino', 'Jack', 'Divya', 'Jack', 'SWE'], 'Emp_Salary': [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000], 'Year_of_Exp': [2, 5, 6, 1, 7, 9, 10, 2, 3, 4], 'Bonus': [2400, 12000, 21600, 4800, 42000, 64800]}
{'Emp_Id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Emp_Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun', 'Vino', 'Jack', 'Divya', 'Jack', 'SWE'], 'Emp_Salary': [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000], 'Year_of_Exp': [2, 5, 6, 1, 7, 9, 10, 2, 3, 4], 'Bonus': [2400, 12000, 21600, 4800, 42000, 64800, 84000]}
{'Emp_Id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Emp_Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun', 'Vino', 'Jack', 'Divya', 'Jack', 'SWE'], 'Emp_Salary': [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000], 'Year_of_Exp': [2, 5, 6, 1, 7, 9, 10, 2, 3, 4], 'Bonus': [2400, 12000, 21600, 4800, 42000, 64800, 84000, 19200]}
{'Emp_Id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Emp_Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun', 'Vino', 'Jack', 'Divya', 'Jack', 'SWE'], 'Emp_Salary': [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000], 'Year_of_Exp': [2, 5, 6, 1, 7, 9, 10, 2, 3, 4], 'Bonus': [2400, 12000, 21600, 4800, 42000, 64800, 84000, 19200, 32400]}
{'Emp_Id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Emp_Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun', 'Vino', 'Jack', 'Divya', 'Jack', 'SWE'], 'Emp_Salary': [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000], 'Year_of_Exp': [2, 5, 6, 1, 7, 9, 10, 2, 3, 4], 'Bonus': [2400, 12000, 21600, 4800, 42000, 64800, 84000, 19200, 32400, 48000]}

| Feature               | `for` loop                       | `while` loop                            |
| --------------------- | -------------------------------- | --------------------------------------- |
| Use case              | When you **know how many times** | When you **donâ€™t know how many times**  |
| Control type          | Based on a **sequence or range** | Based on a **condition**                |
| Risk of infinite loop | Low (usually well-defined range) | High (if condition never becomes false) |
| Common with           | Lists, strings, ranges, dicts    | User input, game loops, waiting tasks   |

In [ ]:
#While is conditional loop and infinite loop
#for is not conditional and finite

In [82]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [84]:
start=0
while start<=10:
  print(start)
  start=start+1

0
1
2
3
4
5
6
7
8
9
10

In [85]:
start=0
Numbers=[10,30,0,9,8,7,6,7,0,8,0]
while start<len(Numbers):
  if Numbers[start]==0:
    print(start)
  start=start+1

2
8
10

In [89]:
Name=[]
c=3
while True:
  if(len(Name)==c):
    break
  else:
    name=input(' Enter the name : ')
    Name.append(name)
Name

 Enter the name : Dhruv
 Enter the name : Swe
 Enter the name : Madan

['Dhruv', 'Swe', 'Madan']

In [99]:
Fruits=['Apple','Orange','Grapes','Apple','Apple','Orange','Apple','Apple']
F=list(set(Fruits))
Fruits_count=""
F.sort()
for i in F:
  Fruits_count=Fruits_count+i+" "+str(Fruits.count(i))+" "
print(Fruits_count.rstrip())

Apple 5 Grapes 1 Orange 2