<a href="https://colab.research.google.com/github/swethasuresh-08/PythonNotes/blob/main/DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#DS to store and efficiently handle data

2. Creating and Accessing List Elements

üß± Creating Lists Use square brackets [] or the list() constructor:

In [5]:
emptyList=[]
another_empty_list = list() #Created using constructor

tuple_to_list=list((1,2,3))
tuple_to_list

[1, 2, 3]

| **Method**           | **Description**                                              | **Example**                    | **Output / Effect**                |
| -------------------- | ------------------------------------------------------------ | ------------------------------ | ---------------------------------- |
| `append(x)`          | Adds `x` at the end of the list                              | `[1, 2].append(3)`             | `[1, 2, 3]`                        |
| `extend(iterable)`   | Adds all elements from `iterable`                            | `[1, 2].extend([3, 4])`        | `[1, 2, 3, 4]`                     |
| `insert(i, x)`       | Inserts `x` at position `i`                                  | `[1, 3].insert(1, 2)`          | `[1, 2, 3]`                        |
| `remove(x)`          | Removes first occurrence of `x`                              | `[1, 2, 2].remove(2)`          | `[1, 2]`                           |
| `pop([i])`           | Removes and returns element at index `i` (last if not given) | `[1, 2, 3].pop()`              | Returns `3`, list becomes `[1, 2]` |
| `clear()`            | Removes all elements from the list                           | `[1, 2, 3].clear()`            | `[]`                               |
| `index(x)`           | Returns index of first occurrence of `x`                     | `[1, 2, 3].index(2)`           | `1`                                |
| `count(x)`           | Returns number of occurrences of `x`                         | `[1, 2, 2].count(2)`           | `2`                                |
| `sort()`             | Sorts list in ascending order                                | `[3, 1, 2].sort()`             | `[1, 2, 3]`                        |
| `sort(reverse=True)` | Sorts in descending order                                    | `[1, 3, 2].sort(reverse=True)` | `[3, 2, 1]`                        |
| `reverse()`          | Reverses the list                                            | `[1, 2, 3].reverse()`          | `[3, 2, 1]`                        |
| `copy()`             | Returns a shallow copy of the list                           | `copy_list = [1, 2].copy()`    | `copy_list = [1, 2]`               |

| Feature          | **List**                                | **Tuple**                        |
| ---------------- | --------------------------------------- | -------------------------------- |
| **Syntax**       | `[]` (square brackets)                  | `()` (parentheses)               |
| **Mutability**   | ‚úÖ Mutable (can change)                  | ‚ùå Immutable (cannot change)      |
| **Performance**  | Slightly slower                         | Slightly faster                  |
| **Use Case**     | For dynamic data                        | For fixed, constant data         |
| **Methods**      | Many built-in methods (`append`, `pop`) | Fewer methods (`count`, `index`) |
| **Memory usage** | More (because it's flexible)            | Less (because it‚Äôs fixed)        |

In [1]:
listNum=[1,2,3,4]
listTuple=(1,2,3,4)

In [2]:
listNum

[1, 2, 3, 4]

In [3]:
listTuple

(1, 2, 3, 4)

In [4]:
BankDetails=[('SBI','Swetha','+91789654321'),'78.96']

In [5]:
listNum.append([10,20])

In [6]:
listNum

[1, 2, 3, 4, [10, 20]]

In [7]:
listNum.extend([50,60])

In [8]:
listNum

[1, 2, 3, 4, [10, 20], 50, 60]

In [1]:
A=[10,1,15,6]
A.sort(reverse=True)
A

[15, 10, 6, 1]

In [3]:
#List can modify Elements and it is mutable
#Cant modify elements it is immutable
listEx=[1,2,3,4]
listEx.append([5,6])
listEx.extend([7,8])
listEx

[1, 2, 3, 4, [5, 6], 7, 8]

‚úÖ append()

Adds as a **single element to the end of the list**.

If you pass a list, it adds the entire list as one element.



```
a = [1, 2]
a.append([3, 4])
print(a)  # Output: [1, 2, [3, 4]]
```

‚úÖ extend()

Adds elements from an iterable (like a list, tuple, string) to the list.

It unpacks the iterable and adds each item individually.


```
a = [1, 2]
a.extend([3, 4])
print(a)  # Output: [1, 2, 3, 4]

```

In [ ]:
#pop function is used to remove last element or remove by index
#remove function will remove element provided

| Feature          | `pop()`                                           | `remove()`                                 |
| ---------------- | ------------------------------------------------- | ------------------------------------------ |
| **What it does** | Removes element by **index**                      | Removes element by **value**               |
| **Returns?**     | ‚úÖ Returns the removed item                        | ‚ùå Doesn‚Äôt return anything (returns `None`) |
| **Default?**     | Removes the **last element** if no index is given | You **must provide a value**               |
| **Error if...?** | ‚ùå Error if index is out of range                  | ‚ùå Error if value is not found              |


```
a = [10, 20, 30, 40]
x = a.pop()       # Removes last item
print(a)          # [10, 20, 30]
print(x)          # 40

y = a.pop(1)      # Removes element at index 1 (20)
print(a)          # [10, 30]
print(y)          # 20
```


```
a = [10, 20, 30, 20]
a.remove(20)      # Removes the first 20
print(a)          # [10, 30, 20]
```

 What is Slicing in Python?

Slicing is a way to extract a portion (subset) of a sequence
‚Äî like a list, string, or tuple ‚Äî using index ranges.

**sequence[start : stop : step]**

| Part    | Meaning                    |
| ------- | -------------------------- |
| `start` | Starting index (inclusive) |
| `stop`  | Ending index (exclusive)   |
| `step`  | Interval between elements  |


| Expression     | Meaning                           |
| -------------- | --------------------------------- |
| `list[-1]`     | Last item                         |
| `list[-2]`     | Second last item                  |
| `list[::-1]`   | Reverse the entire list/string    |
| `list[-3::-1]` | From 3rd last to start in reverse |

üîπ 2. Negative Step in Slicing ([::-1])

‚û° It starts from the end and moves backward by 1.

```
üëâ [::-1] means reverse the sequence.

text = "Python"
print(text[::-1])  # Output: "nohtyP"
```

In [10]:
A.index(10)

1

In [12]:
A.insert(1,50)
A

[15, 50, 50, 10, 6, 1]

In [16]:
A[-3:1:-1]  #start index is -1
            #end index is 1
            #step==-1 means go in reverse direction

[10, 50]

In [17]:
A[::-1] #means go in reverse direction wid one step

[1, 6, 10, 50, 50, 15]

In [22]:
print(A)
print('Middle index is ',len(A)//2)
A[len(A)//2]

[15, 50, 50, 10, 6, 1]
Middle index is  3

10

In [23]:
A[-3:]

[10, 6, 1]

In [27]:
Emp=tuple(['Swe',32,'Software Developer','CBE','+91-87456123','Vasanth','Jana','santhosh','Maddy'])
Emp

('Swe',
 32,
 'Software Developer',
 'CBE',
 '+91-87456123',
 'Vasanth',
 'Jana',
 'santhosh',
 'Maddy')

In [28]:
Emp[::-1]

('Maddy',
 'santhosh',
 'Jana',
 'Vasanth',
 '+91-87456123',
 'CBE',
 'Software Developer',
 32,
 'Swe')

In [29]:
Emp[-3::-1]

('Jana', 'Vasanth', '+91-87456123', 'CBE', 'Software Developer', 32, 'Swe')

In [33]:
Emp[::2]

('Swe', 'Software Developer', '+91-87456123', 'Jana', 'Maddy')

In [34]:
Emp

('Swe',
 32,
 'Software Developer',
 'CBE',
 '+91-87456123',
 'Vasanth',
 'Jana',
 'santhosh',
 'Maddy')

In [40]:
Emp[2][-8::-1]

'eD erawtfoS'

In [41]:
Emp[2][0:5][::-1]

'wtfoS'

In [42]:
#Set Doesnot allow duplicates
#It Has only unique elements
S=set([10,20,30,40,10,80,30])
S #It Allows all Data types

{10, 20, 30, 40, 80}

In [43]:
S[3]

TypeError: 'set' object is not subscriptable

In [45]:
#Set is unordered and cant be accessed directly
#We convert to list or tuple and access it
S=list(S)
S

[40, 10, 80, 20, 30]

In [46]:
#Dictionary
#Access it using Key Value Pair
#key:value
#NO duplicate key but values can be duplicate
#Accepts all data types
#It is mutuable
#Key Should be meaningful Values
Student={
    'Name':'Kumar',
    'Age':25,
    'Subject':'Python',
    'Marks':95,
    'Std':'VI'
}
Student['Name']

'Kumar'

Dictionary is fastest and comes Tuple

In [2]:
Student_details={
    'Name':['Ramesh','Suresh','Raja','Jana','Arjun'],
    'RollNo':['VI-123','VI-124','VI-125','VI-126','VI-127'],
    'Sec':['A','B','C','D','E'],
    'Std':['VI','VI','VI','VI','VI']
}
Student_details

{'Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun'],
 'RollNo': ['VI-123', 'VI-124', 'VI-125', 'VI-126', 'VI-127'],
 'Sec': ['A', 'B', 'C', 'D', 'E'],
 'Std': ['VI', 'VI', 'VI', 'VI', 'VI']}

In [3]:
Student_details['Name'][3]

'Jana'

In [9]:
Roll=input('Enter the Rollno : ').upper()
index=Student_details['RollNo'].index(Roll)
print('Student Name is : ',Student_details['Name'][index])

Enter the Rollno : vi-123
Student Name is :  Ramesh

In [10]:
Student_details.keys()

dict_keys(['Name', 'RollNo', 'Sec', 'Std'])

In [11]:
Student_details.values()

dict_values([['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun'], ['VI-123', 'VI-124', 'VI-125', 'VI-126', 'VI-127'], ['A', 'B', 'C', 'D', 'E'], ['VI', 'VI', 'VI', 'VI', 'VI']])

In [13]:
Student_details.items()

dict_items([('Name', ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun']), ('RollNo', ['VI-123', 'VI-124', 'VI-125', 'VI-126', 'VI-127']), ('Sec', ['A', 'B', 'C', 'D', 'E']), ('Std', ['VI', 'VI', 'VI', 'VI', 'VI'])])

Keys()- give key values

values()-give values

items()-give key value pair as answer

In [15]:
#Dict is the mutable
#accessed by key value pair
#items give items as value

In [17]:
#Get() will give Key Values
Student_details.get('Name')

['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun']

In [18]:
Student_details.get('name','Key Not Found')

'Key Not Found'

In [20]:
#get() does the same but will not throw error wen key is not found

In [22]:
Student_details['Age']=[10,12,14,16]
Student_details

{'Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun'],
 'RollNo': ['VI-123', 'VI-124', 'VI-125', 'VI-126', 'VI-127'],
 'Sec': ['A', 'B', 'C', 'D', 'E'],
 'Std': ['VI', 'VI', 'VI', 'VI', 'VI'],
 'Age': [10, 12, 14, 16]}

In [24]:
Student_details.update({'Rank':[1,2,3]})
Student_details

{'Name': ['Ramesh', 'Suresh', 'Raja', 'Jana', 'Arjun'],
 'RollNo': ['VI-123', 'VI-124', 'VI-125', 'VI-126', 'VI-127'],
 'Sec': ['A', 'B', 'C', 'D', 'E'],
 'Std': ['VI', 'VI', 'VI', 'VI', 'VI'],
 'Age': [10, 12, 14, 16],
 'Rank': [1, 2, 3]}

CONDITIONAL STATEMENT