<a href="https://colab.research.google.com/github/swethasuresh-08/PythonNotes/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum([1,2,3,4,5,6,7,8,9,10])

55

In [ ]:
Numbers=[1,2,3,4,5,6,7,8,9,10]
total=0
for i in Numbers:
  total=total+i
print(total)

55

#PreDefined Function
List.append(),List.pop(),List.sort(),List.reverse()
#InBuilt Function
input(),zip(),enumerate(),print(),len(),sum(),min(),max(),
#User Defined Function
def function_name():

In [ ]:
Numbers=[1,2,3,4,5,6,7,8,9,10]
outputList=[]
for i in Numbers:
  outputList.append((i*i+i))
outputList

[2, 6, 12, 20, 30, 42, 56, 72, 90, 110]

In [ ]:
outputList.clear()
def MulAdd(i):
  return (i*i+i)

Numbers=[1,2,3,4,5,6,7,8,9,10]
for i in Numbers:
   outputList.append(MulAdd(i))
outputList

[2, 6, 12, 20, 30, 42, 56, 72, 90, 110]

[2, 6, 12, 20, 30, 42, 56, 72, 90, 110]

There are three type of Arg
Default Argument
Aribitary argument
keyword argument

In [ ]:
def user_details(Name,age): #None - default argument
  print(Name,age)


user_details('Swe',25)

Swe 25

In [ ]:
def user_details(*args): #*args-arbitrary can take any number of args
  print(args[0])



user_details('Swe',25,'Chennai')

Swe

In [ ]:
def user_details(**args):
    print(args.get('Name'))
    for key,value in args.items():
      print(key,value)
    print(args.values())



user_details(Name='Swe',age=25,city='Chennai')

Swe
Name Swe
age 25
city Chennai
dict_values(['Swe', 25, 'Chennai'])

The map() function applies a function to every item in an iterable (like a list or tuple) and returns a new map object (which you can turn into a list, tuple, etc.).

In [ ]:
#default arg take based on position ,if position change it ll give wrong output

In [ ]:
def user_details(Name,Age,City): #None - default argument
  print(f'Name is {Name},Age is {Age},City is {City}')


user_details('Swe',25,'Chennai')
user_details(25,'Chennai','Swe')

Name is Swe,Age is 25,City is Chennai
Name is 25,Age is Chennai,City is Swe

In [ ]:
#To overcome dat we use keyword Argument
def bonus(experience,salary):
  return salary*12*0.01*experience
def user_details(**args):
  Name=args.get('Name')
  Age=args.get('Age','NA')
  City=args.get('city')
  YOE=args.get('YOE')
  Salary=args.get('Salary')
  Bonus=bonus(YOE,Salary)
  print(f'Name is {Name},Age is {Age},City is {City}, Bonus is {Bonus}')

user_details(Name='Swe',Age=25,City='Chennai',YOE=5,Salary=50000)#Paramter

Name is Swe,Age is 25,City is None, Bonus is 30000.0

In [21]:
def MulAdd(*nums):
  output=[]
  for i in nums:

    output.append((i*i+i))
  return output

MulAdd(1,2,3,4,5,6,7,8,9,10)

[2, 6, 12, 20, 30, 42, 56, 72, 90, 110]

In [24]:
def MulAdd(*nums):
  output=[]
  for i in nums:
    i=int(i)
    output.append((i*i+i))
  return output[0]

User_Input=input('Enter the Number :').split() #Converts a string into list by default
print(User_Input)

Num=list(map(MulAdd,User_Input))
Num

Enter the Number :1 2 3
['1', '2', '3']

[2, 6, 12]

## Math Functions
Built in Math functions
abs()
min()
max()
pow()
round()
divmod()

In [25]:
abs(-5)

5

In [36]:
round(5.88)
int(5.88)
round(31.56788,2)

31.57

In [33]:
min(1,2,3)
max(1,2,3)
pow(2,3)
divmod(10,2) #Returns both qoutient and reminder

(5, 0)

In [40]:
import math
Number=float(input())
Number
round(Number,2)

75.899

75.9

In [41]:
math.ceil(Number)

76

In [42]:
math.floor(Number)

75

Error
Type Error - 5+'Swe' - performing operations between two incompatible type
Syntax Error - if a in range(10)- missing colon
Value Error - int("Helloe") - Cant give string in int
Name Error - Using name without defining

we use try and except

In [44]:
#TYPE ERROR
L=[1,2,3,4,'GUVI',5,6,7,8]

for i in L:
  try:
    print(i+1)
  except TypeError as e:
    print( e)

2
3
4
5
can only concatenate str (not "int") to str
6
7
8
9

In [47]:
#VALUE ERROR


try:
  Number=int(input())
except ValueError as e:
  print(e)

HELLO
invalid literal for int() with base 10: 'HELLO'

In [48]:
#Syntax Error
if a in range(10)

SyntaxError: expected ':' (ipython-input-48-1466890080.py, line 2)

In [54]:
def fact(n):
  factVal=1
  for i in range(1,n+1):
    print(i)
    factVal=factVal*i
  return factVal

fact(5)

1
2
3
4
5

120

In [3]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)
fact(5)

120