<a href="https://colab.research.google.com/github/swethasuresh-08/PythonNotes/blob/main/InputOutput.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The input we get is in format of String.

In [ ]:
Age=input('Enter your age: ')
Age

Enter your age: 2 3 4

'2 3 4'

In [ ]:
type(Age)

str

In [ ]:
listAge=list(map(int,Age.split(' ')))
listAge

[2, 3, 4]

#* is the unpacking operator

It **unpacks the list and passes each element as separate argument** to print()

So instead of printing [21, 25, 30], it prints 21 25 30 — without brackets, commas, or quotes

In [ ]:
print(*listAge)

2 3 4

In [ ]:
#we join using join function
#it works only for string and not int
#*works for both int and string

In [ ]:
print(*[1,2,3])

1 2 3

In [ ]:
print('*'.join(Age))

2* *3* *4

In [ ]:
#Join used to get input in string and print it seperatly
name=input('Enter Name: ')
print('*'.join(name))
print(*name)

Enter Name: SWETHA
S*W*E*T*H*A
S W E T H A

In [ ]:
#Enter the input with space and use strip to remove the space

In [39]:
NameSpace=input('Enter your name')
NameSpace

Enter your nameSWE##THA

'SWE##THA'

In [36]:
#Strip is used to remove spaces in word
NameSpace.strip()

'SWETHA'

In [37]:
NameSpace.rstrip()

'  SWETHA'

In [38]:
NameSpace.lstrip()

'SWETHA  '

In [41]:
#REPLACE IS USED TO REPLACE THE # WITH EMPTY SPACE
#'SWE##THA' ==> 'SWETHA'
NameSpace.replace("#",'')

'SWETHA'

In [42]:
NameSpace.replace('S','s')

'sWE##THA'

In [47]:
# IN '+'concat it only adds str and not int
#In ',' concat it adds both str and int and also adds space
nameStr=input('Enter your Name:')
Age=int(input('Enter your age:'))
print('Your Name is ',nameStr,'Your age is ',Age)

Enter your Name:Swe
Enter your age:25
Your Name is  Swe Your age is  25

| Operator | Behavior                        | Example                 | Output     |
| -------- | ------------------------------- | ----------------------- | ---------- |
| `+`      | Concatenates strings (no space) | `print("Hi" + "There")` | `HiThere`  |
| `,`      | Separates values with space     | `print("Hi", "There")`  | `Hi There` |

Example

a = "Hello"

b = "World"

print(a + b)   # HelloWorld

print(a, b)    # Hello World

```
# This is formatted as code
```

➕ + for Math or List Joining:

print(2 + 3)           # 5

print([1, 2] + [3, 4]) # [1, 2, 3, 4]

In [5]:
#Formatted string is used to print the variable
print(f'My Name is {NameSpace} and my Age is {Age}')

My Name is SWE##THA and my Age is 25

In [6]:
NameSpace = 'SWE##THA'
Age = 25

In [8]:
email=input('Enter the mail id : ')
nameMail,domain=email.split('@')
domainName,domainProvider=domain.split('.')
print(f'Name is {nameMail} and his Mail Domain is {domainName} and provider is {domainProvider}')

Enter the mail id : swe@gmail.com
Name is swe and his Mail Domain is gmail and provider is com