<a href="https://colab.research.google.com/github/swethasuresh-08/PythonNotes/blob/main/ListComprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L=[1,2,3,4,5,6,7,8,9,10]

even=[]
odd=[]

for i in L:
  if i%2 == 0:
    even.append(i)
  else:
    odd.append(i)
print(odd)
print(even)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [ ]:
L=[1,2,3,4,5,6,7,8,9,10]

even=[i for i in L if i%2==0]
odd=[i for i in L if i%2!=0]

even, odd

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

In [ ]:
#[Expression for loop Condition]
Mul_Add=[i*i+i for i in L if i>5]
Mul_Add

[42, 56, 72, 90, 110]

In [ ]:
Mul_Add=[i*i+i if i>5 else i for i in L]
Mul_Add

[1, 2, 3, 4, 5, 42, 56, 72, 90, 110]

In [ ]:
L=[[1,2,3],['A','B','C'],[4,5,6]]

FlatedList=[i for row in L for i in row]
FlatedList

[1, 2, 3, 'A', 'B', 'C', 4, 5, 6]