<a href="https://colab.research.google.com/github/swethasuresh-08/PythonNotes/blob/main/pythonIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Class 1

In [45]:
#Store python file -- .py Extension
#.ipynb - many runs - Interactive python Notebook
#Ctrl + Enter - automatically Run
#Shift + Enter - run and make new cell
#-Python Comments , Basic Human Understanding

In [5]:
#Keywords - Reserved Words
print("hello world!")

hello world!

In [6]:
#syntax - Strict instructions to be followed while programming

In [8]:
#Data Types

#integer - Whole Number - 1,2,3,4
#float - decimal/floating point number = 1.2,1.3,2.3
#char - single alphabet - 'A','N'
#string - group of character - "Hello"
#boolean - True or False

In [10]:
#Python - Dynamically typed character

In [11]:
#Variables - value changes ex:a=5,a=10
#Constants - value doesnot change - ex:pi-3.14

In [14]:
a=5
print(type(a))

<class 'int'>

In [15]:
b='hello'
print(type(b))

<class 'str'>

In [16]:
c=True
print(type(c))

<class 'bool'>

In [17]:
#Python is procedural prog language - execute line by line

a=5
a=5.0
a='five'

print(a)

five

In [18]:
print(type(a))

<class 'str'>

In [22]:
#for checking id memory location
print(id(a))
print(id(b))

136436357467952
136436536503024

In [21]:
#String can be given in both single and double qoutes
print('Hello')
print("Hello")

Hello
Hello

In [26]:
#Same data type stored near by
f=5
h=7
g=5.0
print(id(f))
print(id(h))
print(id(g))

10757864
10757928
136435161349680

In [27]:
#If variable hol;d same value , it ll be stored in same location
a=5
b=5
print(id(a))
print(id(b))

10757864
10757864

In [29]:
#We cant concatanate int
1+'1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
#input function is string type
a=input() #small char - ()-- inbuilt function
b=input()
print(a+b)

25
25
2525

In [34]:
#Datatype Converstion
#Convert the string type to required data type for input
a=int(input())
b=float(input())
print(a+b)

25
25.5
50.5

In [38]:
a=int(input('Enter Your Number : '))
b=int(input('Enter Your Number : '))
print(a+b)

Enter Your Number : 5
Enter Your Number : 4
9

In [47]:
#Variable Naming Convention
#Can start wid alphabet
#Cant have Numeric in start - Syntax Error
#A variable name can start be wid alpha numeric
#Can start wid underscore

#No space btwn variable name
#ex: subash govind is wrong

#Instead use Snake Case : subash_govind=123
#Camel Case : subashGovind=123
#Pascal Case both uppercase : SubashGovind=123


_var=4
a=5
subash_govind=123
subashGovind=123
SubashGovind=123

In [53]:
#Operator

#arithmetic Operator : #mathematic

a=9
b=2

print(a+b)
print(a-b)
print(a*b)
print(a/b) #div - Quotient - give wid decimal - 9/2 = 4.5
print(a//b) #Floor Division - Quotient - without decimal , give as integer - 9/2 = 4
print(a%b) #modulus - reminder
print(a**b) #exponential - power

11
7
18
4.5
4
1
81

In [ ]:
# a- input()
#b - input()

#print all arithmetic above